<div class="bg-black overflow-hidden">
	<div class="appContainer">
		<div class="flex py-12 py-28 relative xl:px-16">

			<div class="flex flex-col gap-8">
				<div class="flex flex-col gap-4">
					<h3 class="subtitle text-white">Tagline</h3>
					<h2 class="heading-2 text-white">Sales Up to 50%</h2>
				</div>

				<div class="flex items-center gap-6">
					<app-button class="" customClasses="border-white text-white hover:bg-white hover:text-black"
						text="Shop Now">
					</app-button>
					<a class="flex gap-2" routerLink="products">
						<p class="text-white">Button</p>
						<img src="/assets/sales/arrow-right.svg" alt="arrow-right">
					</a>
				</div>
			</div>

			<img src="/assets/sales/sales-bg.png" alt="sales-bg"
				class="absolute -bottom-10 sm:-bottom-12 md:-bottom-20 lg:-bottom-36 right-0 xl:right-16 h-[155px] sm:h-[200px] md:h-[340px] lg:h-[500px] lg:w-[500px] xl:h-[540px] xl:w-[640px] 2xl:w-[720px]">
		</div>
	</div>
</div>