<section class="min-h-[800px]">
	<div class="appContainer">
		<div class="py-16 xl:py-36 flex gap-10 flex-col xl:flex-row xl:px-16" *ngIf="product">

			<div class="w-full xl:flex-[2]">
				<div class="w-full h-[400px]  h-full">
					<img [src]="'http://localhost:5000/' + product.images[0]" alt="detail image"
						class="w-full h-full bg-gray-600 object-cover rounded-lg">
				</div>
			</div>

			<div class="xl:flex-[2] flex flex-col gap-5">
				<div class="flex flex-col gap-2">
					<h1 class="text-3xl xl:text-4xl text-auth-black font-bold">{{product.name}}</h1>
					<h2 class="text-lg text-auth-black font-medium">{{product.brand}}</h2>
					<b>{{product.price | currency}}</b>
				</div>

				<p *ngIf="product.description">{{product.description}}</p>

				<div class="flex flex-col gap-1">
					<h3 class="text-[17px] font-medium">Colors</h3>
					<div class="flex gap-3 flex-wrap">
						<div *ngFor="let color of product.colors" [style.backgroundColor]="color"
							class="h-10 w-10 rounded-md ring-2 ring-black ring-offset-2 ring-offset-white cursor-pointer">
						</div>
					</div>
				</div>

				<div class="flex flex-col gap-1">
					<h3 class="text-[17px] font-medium">Sizes</h3>
					<div class="flex gap-3 flex-wrap">
						<div (click)="onSizeChange(size)"
							[ngClass]="{'bg-white text-auth-black': size === activeSize, 'text-white': size !== activeSize}"
							*ngFor="let size of product.sizes"
							class="h-11 w-11 transition-colors cursor-pointer bg-auth-black border border-auth-black flex justify-center items-center rounded-md hover:bg-white hover:text-auth-black">
							{{size}}</div>
					</div>
				</div>

				<div class="flex flex-col sm:flex-row gap-5 w-full mt-auto">

					<div class="flex text-xl border border-auth-black rounded-lg w-[120px] h-[50px]">
						<div class="cursor-pointer h-full flex-1 w-1/3  flex justify-center items-center select-none"
							(click)="decreaseCount()">-</div>
						<div class="h-full flex-2 w-1/3 flex justify-center items-center">{{ count}}</div>
						<div class="cursor-pointer h-full w-1/3 flex justify-center items-center select-none"
							(click)="increaseCount()">+
						</div>
					</div>

					<div class="flex w-full gap-5">

						<div class="w-[calc(100%-68px)]">
							<app-button customClasses="text-white bg-auth-black hover:bg-white hover:text-auth-black w-full"
								text="Add to Cart"></app-button>
						</div>

						<div
							class="ml-auto border h-12 w-12 rounded-lg border-auth-black flex justify-center items-center cursor-pointer">
							<img src="/assets/header/heart.svg" alt="wishlist">
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</section>