<div class="bg-black overflow-hidden ">
	<div class="appContainer">
		<div class="pt-12 pb-[405px] md:pb-12 relative xl:px-16 xl:h-[888px] xl:h-[888px] xl:flex xl:items-center">

			<div class="text-white z-[5]">
				<div class="flex flex-col gap-4">
					<h1 class="text-[40px] leading-[120%] lg:text-[56px] font-bold max-w-[363px] lg:max-w-[560px]">Revamp
						Your Wardrobe with
						Our Stylish
						Collection</h1>
					<p class="max-w-[344px] lg:max-w-[560px] text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
						tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero
						vitae
						erat.
					</p>
				</div>

				<div class="flex gap-4 mt-10">
					<app-button class="" customClasses="border-white text-white hover:bg-white hover:text-black"
						text="Shop Now">
					</app-button>
					<app-button customClasses="border-white text-white hover:bg-white hover:text-black" text="Button">
					</app-button>
				</div>
			</div>

			<div
				class="z-0 absolute bottom-0 md:top-0 sm:right-0 left-1/2 md:left-auto -translate-x-1/2 md:translate-x-0 overflow-hidden">
				<div class="w-[310px] h-[531px] md:h-[100%] lg:w-[410px] xl:w-[600px] 2xl:w-auto">
					<img src="/assets/hero/hero.svg" alt="hero" class="h-full w-full ">
				</div>
			</div>

		</div>
	</div>
</div>