<div class="h-screen w-full flex justify-center items-center py-[64px] xl:py-0">
	<div class="hidden h-screen xl:flex xl:flex-[4] 2xl:flex-[3]">
		<img src="/assets/auth/forgot.jpg" alt="forgot-page" class="h-full w-full bg-cover">
	</div>

	<div class="w-full flex flex-col xl:flex-[3] px-6 sm:px-12">

		<div class="group cursor-pointer w-16" routerLink="/auth/login">
			<div class="flex gap-2 items-center">
				<img src="/assets/auth/arrow-left.svg" alt="arrow-left"
					class="transition-transform duration-200 group-hover:rotate-180">
				<p class="text-auth-black text-lg group-hover:font-bold transition-all">Back</p>
			</div>
		</div>

		<div class="flex flex-col gap-[5px] mt-[30px]">
			<h1 class="auth-heading">Forgot Password</h1>
			<h3 class="auth-subtitle">Enter your registered email address. we’ll send you a code to reset your password.
			</h3>
		</div>

		<form class="w-full flex flex-col mt-8" [formGroup]="form" (ngSubmit)="sendOtp(form.value.email)">
			<div class="w-full flex flex-col gap-4">
				<div class="w-full flex flex-col gap-[5px]">
					<label [ngClass]="{'text-red-500': form.controls['email'].invalid && form.controls['email'].touched}"
						for="email" class="auth-label">Email Address</label>
					<input [ngClass]="{'auth-input-error': form.controls['email'].invalid && form.controls['email'].touched}"
						formControlName="email" class="auth-input" type="email" placeholder="Enter your email">
					<p *ngIf="form.controls['email'].touched && form.controls['email'].invalid" class="text-red-400 text-sm">
						{{ getErrorMessage(form, 'email') }}
					</p>
				</div>
				<p class="text-red-500 text-sm font-semibold" *ngIf="error">*{{error}}</p>
			</div>


			<app-button customClasses="text-white bg-auth-black hover:bg-white hover:text-auth-black w-full mt-[30px]"
				text="Send OTP"></app-button>
		</form>
	</div>
</div>