<div>
	<div class="appContainer">
		<div class="flex flex-col gap-10 py-12 py-28 xl:px-16">

			<div class="flex flex-col">
				<h2 class="heading-2">Create New Product</h2>
				<p class="text max-w-[460px]">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam veniam ipsa
					consectetur sequi
					optio aliquam.</p>
			</div>

			<div class="flex flex-col xl:flex-row">

				<div class="flex-col gap-2 xl:flex-[2]">
					<button *ngIf="imageUrls.length" class="text-lg font-semibold cursor-pointer"
						(click)="clearFiles()">Clear
						images</button>
					<ngx-dropzone [ngClass]="{'dragging': isDragging}" (dragenter)="onDragEnter($event)"
						(dragleave)="onDragLeave($event)" tabindex="0" (change)="onSelectFile($event)"
						[ngStyle]="dropzoneStyle">
						<div class="absolute inset-0 z-1" [ngClass]="{'bg-slate-200': isDragging}"></div>
						<div *ngIf="!imageUrls.length"
							class="z-[2] absolute w-[200px] xl:w-auto text-center left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-xl text-black">
							+ Add your .png .jpeg .jpg .webp images
						</div>
						<img class="w-full h-auto object-cover" *ngFor="let imageUrl of imageUrls" [src]="imageUrl">
					</ngx-dropzone>
					<button *ngIf="filesError" class="text-lg font-semibold text-red-500">{{filesError}}</button>

				</div>

				<form class="xl:flex-[2]">

				</form>

			</div>

		</div>
	</div>
</div>