@use '@angular/material' as mat;

@include mat.core();

$ddsgnr-client-primary: mat.define-palette(mat.$indigo-palette);
$ddsgnr-client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$ddsgnr-client-warn: mat.define-palette(mat.$red-palette);

$ddsgnr-client-theme: mat.define-light-theme((color: (primary: $ddsgnr-client-primary,
				accent: $ddsgnr-client-accent,
				warn: $ddsgnr-client-warn,
			)));


@include mat.all-component-themes($ddsgnr-client-theme);

@import '~typeface-roboto/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scrollbar-width: thin;
	scrollbar-color: #10F2C5 #000;
}

::-webkit-scrollbar {
	width: 13px;
}

::-webkit-scrollbar-track {
	background: #000;
}

::-webkit-scrollbar-thumb {
	background: #10F2C5;
}

::-webkit-scrollbar-thumb:hover {
	background: #58c7b1;
}

@layer components {
	.appContainer {
		@apply container mx-auto px-6 xl:px-3 3xl:px-0;
	}

	.heading-2 {
		@apply text-[32px] xl:text-[48px] font-bold leading-[130%];
	}

	.subtitle {
		@apply text-base font-semibold
	}

	.text {
		@apply text-[18px] font-normal
	}

	.auth-heading {
		@apply text-[30px] text-auth-black leading-[100%];
	}

	.auth-subtitle {
		@apply text-[16] text-auth-gray leading-[130%];
	}

	.auth-label {
		@apply text-[12px] text-auth-black;
	}

	.auth-input {
		@apply text-[16px] text-auth-black border border-auth-black rounded-[10px] p-4;
	}

	.auth-input-error {
		@apply text-red-500 border-red-500 outline-red-500 placeholder:text-red-500;
	}

}

input[type="checkbox"] {
	appearance: none;
	background-color: #131118;
	border: 1px solid #cacece;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	border-radius: 4px;
	cursor: pointer;

	&:checked::before {
		content: "";
		position: absolute;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 2px 2px 0;
		top: 2px;
		left: 6px;
		transform: rotate(45deg);
	}

	&:checked {
		background-color: #131118;
		border-color: #adb8c0;
	}

	&:focus {
		border-color: #e9ecee;
	}
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

ngx-dropzone {
	height: 400px;
}